In [3]:
# 内省
b = [1, 2, 3]
b?

In [5]:
# ?? 可以显示函数源代码
import numpy as np
np.*load*?  # 显示包含了load的函数名列表

In [9]:
# 在同一个进程内执行指定文件中的代码
%run hello.py

hello world0

In [10]:
hello  # 文件中定义的变量，IPython中也能使用

'hello world0'

In [11]:
%run hello.py 6

hello world6

In [ ]:
# 如果想要使用IPython命名空间中已有变量，使用%run -i

In [ ]:
%load hello.py  # 将脚本导入一个代码单元

In [14]:
%paste  # 仅限于普通IPython，用于获取剪切板中的内容，还有 %cpaste

UsageError: Line magic function `%paste` not found.

In [3]:
df = pd.DataFrame(
    [[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]],
    index=["a", "b", "c", "d"],
    columns=["one", "tow"],
)

In [4]:
df

    one  tow
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [5]:
df.sum()

one    9.25
tow   -5.80
dtype: float64

In [6]:
df.sum(axis='columns')

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [7]:
df.sum(axis='columns', skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [8]:
df.idxmax()

one    b
tow    d
dtype: object

In [9]:
df.cumsum()

    one  tow
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [10]:
df.describe()

            one       tow
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [11]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)

In [13]:
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [12]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object